:root {
    --bgClr: #7EB2DD;
    --brdrClr: #FFE8D4;
    --txtClr: #e0eae4;
}

body {
    line-height: 1.5;
    background-color: var(--bgClr);
    color: var(--txtClr);
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.625rem;
    font-weight: 700;
    line-height: 1.1;
}

header {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    border: 20px solid var(--brdrClr);
}

a{
    color: var(--txtClr);
    text-decoration: none;
}

article{
    text-align: center;
    padding: 5%;
}

article h4{
    color: var(--bgClr);
    outline: 5px solid var(--txtClr);
    background-color: var(--brdrClr);
    width: 30%;
    margin-left: 35%;
}

article figure img{
    margin-top: 1%;
    width: 20%;
    border: 5px solid var(--brdrClr);
}

header nav{
    width: 80%;
    position: relative;
    left: 10%;
}

header nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header nav ul li{
    width: 100%;
    outline: 2px solid var(--brdrClr);
    outline-offset: -3px;
}

header nav ul li:hover{
    outline: 5px solid var(--txtClr);
    background-color: var(--brdrClr);
} 
a:hover {
    color: var(--bgClr);
 }

header nav ul li:active {
    outline: 5px solid var(--txtClr);
    background-color: var(--bgClr);
} 
a:active {
    color: var(--brdrClr);
}

main{
    width: 96%;
    margin: 2rem auto;
    text-align: center;
}

main h4 {
    color: var(--bgClr);
    outline: 5px solid var(--txtClr);
    background-color: var(--brdrClr);
    width: 30%;
    margin-left: 35%;
}

main div {
    display: flex;
    flex-flow: row wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 4%;
    justify-content: center;
}

main div section {
    flex: 1 0 100%;
    padding: 1%;
}

.firstProject{
    flex: 1 0 100%;
}

main div section figure{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


main div section figure a img{
    width: 100%;
    height: 100%;
    border: 5px solid var(--brdrClr);
}

main div section figure a img:hover{
    width: 100%;
    height: 100%;
    border: 10px solid var(--txtClr);
}

main div section figure a img:active {
    width: 100%;
    height: 100%;
    border: 10px solid #a2e8bd;
}

footer{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

footer h5{
    color: var(--bgClr);
    outline: 5px solid var(--txtClr);
    background-color: var(--brdrClr);
    width: 30%;
    margin-left: 35%;
}

footer h6{
    padding-top: 5px;
    text-decoration: underline;
}

footer a:hover{
    color: var(--bgClr);
    background-color: var(--txtClr);
}

@media screen and (min-width: 768px) {
    main div section{
        flex: 1 0 50%;
    }
}

@media screen and (min-width: 992px) {
    header nav ul {
            flex-flow: row;
        }

        header nav ul li {
            width: 100%;
            padding-bottom: 0rem;
        }
}